<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/html">
<head>
  <link rel="stylesheet" href="public/application.css">
</head>
<br>

<h1> <%= "Cryptocurrency Market Capitalizations(updated: #{Time.now})" %></h1>

<%= @coins.count %>
</br>

<% @report.each do |line| %>
  <%= line %>
  </br>
<%end%>

</body>
</html>